<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jmbsystems.fjbatresv.mascotassociales">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".MascotasSocialesApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/GOOGLE_MAPS_API_KEY" />
        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="@string/CLOUDINARY_URL" />

        <activity android:name=".login.ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="@string/FACEBOOK_PROVIDER_AUTH"
            android:exported="true" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="920d6b1a8bedfe67c531f6ee7a75d518fbb07324" />

        <activity
            android:name=".main.ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".photo.ui.PhotoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".photoList.ui.PhotoListActivity"
            android:parentActivityName=".main.ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".photoMap.ui.PhotoMapActivity"
            android:parentActivityName=".main.ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".chat.ui.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".about.AboutActivity"></activity>
    </application>

</manifest>
